@media screen and (max-width:768px) {
    body {
        font-family: 'Roboto', sans-serif, 'Montserrat Subrayada';
    }

    /* Slider Part  */
    .caption-item {
        position: absolute;
        top: 29px;
        left: 31px;
        right: 30px;
        bottom: 39px;
        width: 274px;
        height: 184px;

    }

    .caption-item h2 {
        font-size: 20px;
        font-weight: bolder;
    }

    .caption-item p {
        color: rgb(245, 246, 248);
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 3px;
    }

    .carousel-tm {
        width: 335px;
        height: 262px;
    }

    #button-slider1 {
        width: 130px;
        height: 40px;
        font-size: 16px;
    }

    #button-slider2 {
        width: 130px;
        height: 40px;
        font-size: 16px;
    }

    #button-slider3 {
        width: 130px;
        height: 49px;
        font-size: 16px;
    }

    .flex-m {
        display: flex;
        flex-direction: column;


    }

    .flex-m img {
        height: 50%;
    }


    #footer-caption {
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 150px;
    }

    .footer {
        height: 472px;
    }

    .social-links {
        padding-bottom: 200px;

    }

    .social-link {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 25px;
        background-color: rgb(23, 22, 22);
        border: 1px solid rgb(23, 22, 22);
        box-shadow: 3px 3px 3px black;
        padding: 2px;
        color: white;
    }

    /* Question-Answers Part */

    #accor-btn1:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn2:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn3:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn4:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 14px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    #accor-btn1 {
        font-size: 14px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    #accor-btn2 {
        font-size: 14px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    #accor-btn3 {
        font-size: 14px;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    #accor-btn4 {
        font-size: 14px;
    }
}