@media screen and (min-width:1200px) {

    /* Common classes */
    body {
        font-family: 'Roboto', sans-serif, 'Montserrat Subrayada';
    }

    .margin-y {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .section-para {
        font-weight: light;
        color: gray;
        display: flex;
        font-size: 20px;
        flex-direction: column;
    }

    .text-bold {
        font-weight: 900;
        font-size: 20px;
    }

    .text-gray {
        color: gray;
    }

    /* Nav Part */
    #nav-button {
        font-size: 22px;
        font-weight: bolder;
    }

    #nav-button:hover {
        background-color: blue;
        color: white;
        font-weight: bold;
    }

    .nav-font {
        font-size: 18px;
    }

    #nav-logo {
        font-weight: bolder;
        font-size: 30px;
        color: rgb(50, 48, 48);
    }

    /* Slider Part */
    .caption-item {
        position: absolute;
        top: 182px;
        left: 324px;
        right: 324px;

    }

    .caption-item h2 {
        font-size: 60px;
        font-weight: bolder;
    }

    .caption-item p {
        color: rgb(245, 246, 248);
        font-weight: 300;
        font-size: 20px;
    }

    #button-slider1 {
        font-weight: bold;
        color: white;
        font-size: 25px;
    }

    #button-slider2 {
        font-weight: bold;
        color: white;
        font-size: 25px;
    }

    #button-slider3 {
        font-weight: bold;
        color: white;
        font-size: 25px;
    }

    .carousel-height {
        height: 700px;

    }

    .color {
        color: white;
    }

    #caption-item2 {
        position: absolute;
        top: 222px;
        left: 324px;
        right: 324px;
    }

    /* Footer Part */
    #footer-caption {
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 150px;
    }

    .footer {
        height: 472px;
    }

    .social-links {
        padding-bottom: 200px;

    }

    .social-link {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 35px;
        background-color: rgb(23, 22, 22);
        border: 1px solid rgb(23, 22, 22);
        box-shadow: 3px 3px 3px black;
        padding: 2px;
        color: white;
    }

    /* Registration Part   */
    .reg-button {
        font-weight: bolder;
        font-size: 20px;
        padding: 15px;
        text-decoration: none;
        margin-left: 450px;


    }

    .heading {
        /* margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 10px; */
        font-weight: bolder;
    }

    /* Courses Part  */
    .card-section-title {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        font-size: 40px;
        font-weight: bolder;
    }

    .course-btn1 {
        visibility: visible;
    }

    .course-btn {
        display: none;
    }

    .card-text-bold {
        font-weight: 700;
        font-size: 26px;
    }


    .button-text-bold {
        font-size: 20px;
        font-weight: 900;
    }

    /* Question-Answers Part */

    #accor-btn1:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn2:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn3:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn4:focus {
        background-color: rgb(218, 247, 253);
        border: 5px solid rgb(218, 247, 253);
        outline: 5px solid rgb(218, 247, 253);
        border-radius: 5px;
        color: black;
        font-size: 20px;
    }

    #accor-btn1 {
        font-size: 20px;
    }

    #accor-btn2 {
        font-size: 20px;
    }

    #accor-btn3 {
        font-size: 20px;
    }

    #accor-btn4 {
        font-size: 20px;
    }
}