body {
    font-family: 'Roboto', sans-serif, 'Montserrat Subrayada';
}

/* Nav Part */
#nav-button {
    font-size: 22px;
    font-weight: bolder;
}

.nav-font {
    font-size: 18px;
}

#nav-logo {
    font-weight: bolder;
    font-size: 30px;
    color: rgb(50, 48, 48);
}